!.gitkeep
.DS_Store
.env.*.local
.env.local
.firebase/
.firebaserc/
.idea
.vscode
*.njsproj
*.ntvs*
*.sln
*.suo
*.sw?
/dist
cordova/platforms
cordova/plugins
database.rules.json
dist/
firebase.json
node_modules
npm-debug.log
npm-debug.log*
pnpm-debug.log*
public/
selenium-debug.log
test/e2e/reports
test/unit/coverage
thumbs.db
yarn-debug.log*
yarn-debug.log*
yarn-error.log
yarn-error.log*
yarn.lock

